services:
  db:
    image: postgres:16-alpine
    volumes:
      - /Users/miethe/dev/homelab/development/boxbrain/pg:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=boxbrain
    ports:
      - "5436:5432"

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    volumes:
      - ./backend:/app/backend
      - ./assets:/app/assets
    environment:
      - DATABASE_URL=postgresql+asyncpg://user:password@db/boxbrain
    ports:
      - "8000:8000"
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      dockerfile: ../Dockerfile
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - VITE_API_URL=http://localhost:8000
      - API_TARGET=http://backend:8000
    ports:
      - "3000:3000"
    depends_on:
      - backend
